  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being uploaded:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @photo do |f| %>
  <p>
    <%= f.file_field :photo %>
    <%= f.submit 'Submit', class: 'btn btn-lg btn-default' %>
  </p>
<% end %>