<%= form_for @photo do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.file_field :photo_images %>
  </div>

  <%# form.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= form.submit 'Submit Photo', class: 'btn btn-default btn-lg' %>
  </div>
<% end %>
