<%= form_for @photo do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @photo.id == nil %>
    <div class="field">
      <%= form.file_field :photo_images %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :tags, 'Insert tags here!' %>
      <%= form.text_field :tags, placeholder: 'Tags are separated by a comma', value: '' %>
    </div>
  <% end %>
  <%# form.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= form.submit 'Submit Photo', class: 'btn btn-default btn-lg' %>
  </div>
<% end %>
